:root {
    --primario: #784D3C;
    --blanco: #ffffff;
    --negro: #000000;
}

.cafeImgBg {
    background-image: url(../imgs//img/blog1.jpg);
    height: 60rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.headerTexto {
    color: var(--blanco);
    background-color: var(--negro);
    padding: 25px;
    width: 20%;
    height: 20%;
    margin: 0px auto;
    border-radius: 15px;
}