main,header,div,section,footer/*
Para crear un efecto en la pagina
para que el header tenga una imagen
de fondo que aparesca al hacer scroll down
descomenta la linea ',header,div,section,footer'
*/ {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}